body {
  font-size: 16px;
  font-family: sans-serif;
  color: #191970;
  background-image: url('../img/square.png');
}
p {
  margin: 0;
}
:global(.main-container) {
  display: flex;
  width: 90%;
  margin: 0 auto;
}
:global(.posts-container) {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px auto;
}
:global(.post-container) {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 30px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #191970;
  border-radius: 20px;
}
:global(.post-author-avatar) {
  width: 90px;
  height: 90px;
}
:global(.post-author-avatar-icon) {
  width: 100%;
  border-radius: 50%;
}
:global(.post-info) {
  margin-left: 20px;
  padding: 15px 0;
}
:global(.post-author) {
  font-size: 20px;
  margin-bottom: 7px;
}
:global(.post-date) {
  font-size: 14px;
}
:global(.post-img-container) {
  margin-top: 20px;
  width: 100%;
}
:global(.post-img) {
  width: 100%;
}
:global(.post-comments-container) {
  width: 100%;
  margin-top: 15px;
}
:global(.post-comments-wrapper) {
  margin-top: 15px;
}
:global(.comment-container) {
  display: flex;
  font-size: 14px;
  margin-bottom: 20px;
}
:global(.comment-author-avatar) {
  width: 50px;
  height: 50px;
}
:global(.comment-author-avatar-icon) {
  width: 100%;
  border-radius: 50%;
}
:global(.comment-info) {
  margin: 5px 0 0 20px;
  width: 50%;
}
:global(.comment-author) {
  font-size: 16px;
  margin-bottom: 15px;
}
:global(.comment-date) {
  margin-top: 5px;
  width: 40%;
  text-align: right;
}
:global(.post-comments-load-btn-container) {
  width: 100%;
  text-align: center;
}
:global(.post-comments-load-btn) {
  background: none;
  border: none;
  outline: none;
  font-size: 14px;
  color: #191970;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
}
:global(.post-comments-load-btn:hover) {
  color: #191970c0;
}